{% extends "base.html" %}

{% block title %}Register | Diskmatte{% endblock %}

{% block content %}
<div class="content-narrow">
    <div class="page-header">
        <h1>Create an account</h1>
        <p>Sign up to track your progress.</p>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <a class="btn btn-link px-0 mt-3" href="{% url 'accounts:index' %}">Back</a>
</div>
{% endblock %}
